.modal-wrapper {
	max-width: 500px;
	margin: auto;
	background: white;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	header {
		display: flex;
		justify-content: space-between;
		padding: 2rem 3rem;
		background: #f6f6f6;
		font-size: 1.5rem;
		border-radius: 4px 4px 0 0;

		.close {
			color: #666;
			background-color: #e4e4e4;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			font-size: 2.5rem;
			display: flex;
			justify-content: center;
			cursor: pointer;
			line-height: 2.3rem;
			transition: .4s;

			&:hover {
				background: #f91942;
				color: white;
			}
		}
	}

	.body {
		padding: 3rem;
	}
}

.modal-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.6);
	z-index: 1;
}

.login-modal {
	display: none;

	&.open {
		display: block;
	}
}