.upload-page {
	display: flex;
	height: 100%;

	.sidebar {
		width: 270px;
		flex-shrink: 0;
		padding: 2rem;
		background: #555;
		color: white;
	}

	.dropzone {
		border: dashed 2px #ccc;
		border-radius: 10px;
		padding: 2rem;
		text-align: center;
		cursor: pointer;
		outline: none;
		transition: all .2s;
		align-self: flex-start;  

		&:hover, &:active, &:focus {
			border-color: #61a0e4;
		}
	}

	.upload-items {
		margin-bottom: 2rem;
		padding: 2rem;
		display: flex;
		flex-wrap: wrap;

		.item {
			box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);
			position: relative;
			background: #e2e2e2;
			margin: 0 2rem 2rem 0;
			max-width: 260px;
			align-self: flex-start;  

			input {
				margin: 0;
				border-radius: 0;
				box-shadow: none;
				font-size: 14px;
				line-height: 1em;
				border-top: none;
				padding: 8px 10px;

				&:last-child {
					border-top: none;
				}
			}
			img {
				width: 260px;
				height: 180px;
				object-fit: contain;
			}

			.status {
				position: absolute;
				top: 5px;
				right: 5px;
				padding: 2px 6px;
				background: #eee;
				border-radius: 4px;
				font-size: .85em;
				font-weight: 500;
				box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);

				&.status-uploaded {
					background: #28a745;
					color: white;
				}

				&.status-error {
					background: #dc3545;
					color: white;
				}
			}
			.species-select .suggestions {
				font-size: 14px;
				top: 33px;
			}
		}
	}

	.upload-status {
		font-weight: 500;
		margin-top: 1rem;
	}
}

@media (max-width: 640px) {
	.upload-page {
		display: block;

		.sidebar {
			width: 100%;
		}
	}
}