.photo-page {
	display: flex;
	margin-top: 3rem;

	.photo-container {
		flex: 1;
		margin-bottom: 1rem;

		img {
			width: 100%;
			border-radius: 6px;
			margin-bottom: 1rem;
		}
	}

	.sidebar {
		width: 300px;
		margin-left: 3rem;
	}

	.widget {
		background: #f9f9f9;
		border-radius: 6px;
		margin-bottom: 2rem;
	}
}

@media (max-width: 992px) {
	.photo-page {
		display: block;

		.sidebar {
			margin-left: 0;
			width: unset;
		}
	}
}