.download-button {
	width: 100%;
	padding: 12px;
	border-radius: 6px;
	background: #19b453;
	text-align: center;
	display: block;
	color: white;
	font-weight: 500;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	cursor: pointer;

	&:hover, &:active {
		color: white;
	}

	.icon {
		width: 25px;
		margin-right: 8px;
	}
}