.nav-bar {
	width: 100%;
	z-index: 1;
	display: flex;
	padding: 1rem 3rem;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	background: white;
	box-shadow: 0 0 12px 0 rgba(0,0,0,.12);

	a {
		color: #555;

		&:hover, &:active {
			color: #333;
			text-decoration: none;
		}
	}

	.logo {
		margin-right: 3rem;
	}

	.button.outline {
		padding: 7px 18px;
	}

	.menu-toggle {
		padding-left: 1rem;
		display: none;
		flex-direction: column;
		margin-left: auto;
	}

	.hamburger {
		content: "";
		display: block;
		width: 16px;
		height: 0;
		margin-top: 5px;
		box-shadow: 0 10px 0 1px #69737d,0 16px 0 1px #69737d,0 22px 0 1px #69737d;
	}
}

.main-header {
	width: 100%;
	color: #555;
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .7), rgba(255, 255, 255, 0)), url("/assets/images/puffin.jpg");
	background-size: cover;
}

@media (max-width: 860px) {
	.nav-bar {
		.menu-toggle {
			display: block;
		}
	}
}

@media (max-width: 1100px) {
	.main-header {
		background-position-y: 2rem;
	}
}

@media (max-width: 768px) {
	.main-header {
		background-position-x: center;
	}
	.nav-bar {
		padding: 1rem 2rem;
	}
}

@media (max-width: 460px) {
	.nav-bar {
		padding: 1rem 2rem;
	}
}